<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }

    .loginlabel {
        color: red
    }

    .loggedoutlabel {
        color: rgb(4, 150, 4);
    }
</style>

<section class="vh-100 pt-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/login" method="post">

                    <div class="divider d-flex align-items-center my-4">
                        <h3 class="text-center fw-bold mx-3 mb-0">Login</h3>
                    </div>



                    <div class="form-outline mb-1 ">
                        <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>



                    <div
                        class="text-center text-lg-start mt-2 mb-2 pt-2 d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary btn-lg " id="loginButton"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                        {{#if user}}
                        <label for="loginButton" class="loggedoutlabel">Registered Succesfully</label>
                        {{/if}}
                        {{#if noUser}}
                        {{!-- <label for="loginButton" class="loggedoutlabel ml-2">Registered Succesfully</label>
                        {{else}} --}}
                        <label for="loginButton" class="loginlabel">please enter a valid email id/password</label>


                        {{/if}}



                    </div>

                    <div class="">
                        <p>Not a member? <a href="/signup">Register</a></p>
                    </div>




                </form>
            </div>
        </div>
    </div>

</section>